%h3 Trip Details
- less_remote_form_for :trip, :url=>trip_path(@t), :method=>"put" do |form|
  = form.text_field :name
  = form.date_field :starts_on
  = form.date_field :ends_on
  = form.text_field :number_of_adults, :size => 3
  = form.text_field :number_of_children, :size => 3
  = form.check_box :public, :onchange=>"if ($(this).checked()){$('#public_url_div').show();} else {$('#public_url_div').hide();}"
  #public_url_div{:style=>"#{'display: none;' unless @t.public?}"}
    Public Url:
    = link_to h(trip_url(@t)), trip_url(@t)
  %div
    Private Url:
    = link_to @t.private_url, @t.private_url
  
  = submit_tag t("Save")