<h3><%= t "Reservation Information"%></h3>

<ul id="confirmation">
  <li>
    <strong><%= t "Cartrawler Confirmation ID"%>:</strong> <%= @reservation[:cartrawler_conf_id] %>
  </li>
  <li>
    <strong><%= t "Vendor Confirmation ID"%>:</strong> <%= @reservation[:vendor_conf_id] %>
  </li>
  <li>
    <strong><%= t "Vendor"%>:</strong> <%= @reservation[:vendor_shortname] %>
  </li>
  <li>
    <strong><%= t "Location"%>:</strong> <%= @reservation[:location_details][:name] %>
  </li>
  <li>
    <strong><%= t "Address"%>:</strong> <%= @reservation[:location_details][:address] %>
  </li>
  <li>
    <strong><%= t "Phone"%>:</strong> <%= @reservation[:location_details][:phone] %>
  </li>
  <li>
    <strong><%= t "Payment Amount"%>:</strong> <%= @reservation[:payment_amount] %> <%= @reservation[:payment_currency] %>
  </li>
</ul>
