<h3> <%= t("Payment details")%>:</h3>

  <h5><%= session[:car][:name] %></h5>
	<img src="<%= session[:car][:picture_url] %>" id="carImage"/>
	<ul id="carDetails">
	 <li>
	   <%= t "Pickup at"%> <%=session[:car][:pickup_location_name]%> on <%=display_ct_datetime(session[:car][:pickup_date])%>
	 </li>
	 <li>
	    <%= t "Return at"%> <%=session[:car][:return_location_name]%> on <%=display_ct_datetime(session[:car][:return_date])%>
	 </li>
	 <li>
	    <%= t "Prepaid fee"%>: <%= session[:car][:prepay_fee_amount] %> <%= session[:car][:prepay_fee_currency] %>
	 </li>
	 <li>
	    <%= t "Collection fee"%>: <%= session[:car][:collection_fee_amount]%>
	 </li>
	 <li>
	         <%= t "Total"%>: <%= session[:car][:total_charge] %> <%= session[:car][:total_charge_currency] %>
	 </li>
	</ul>


<div id="carPaymentForm">
  <h3><%= t"Book this car"%></h3>
  <% form_tag confirm_destination_car_rental_url(@destination) do -%> 
  	<fieldset>
  	 <legend><%= t "Personal Details" %></legend>
  	  <p>
   	    <label for="title"><%= t "Title"%></label>
   	  </p>
   	  <p>
   	    <%= select :person, :name_prefix, [["#{t("Mr")}.", "Mr."], [t("Miss"), "Miss"]]  %>
   	  </p>

   	  <p>
   	    <label for="person_firstname"><%= t "First name"%></label>
   	  </p>
   	  <p>
   	    <%= text_field :person, :firstname, :value => @restored_person[:firstname]  %><br/>
   	  </p>
   	  <p>
   	    <label for="person_lastname"><%= t "Surname"%></label><br/>
   	    <%= text_field :person, :lastname, :value => @restored_person[:lastname]    %><br/>
   	  </p>
   	  <p>
    	  <label for="person_email"><%= t("Email")%></label>
    	</p>
    	<p>
    	  <%= text_field :person, :email, :value => @restored_person[:email]    %>
    	</p>
  	</fieldset>
        <% if @ask_for_airport_details %>
          <fieldset>
           <legend><%= t "Flight details"%></legend>
            <p><%= t "For a better service, please provide us with your flight details"%>:</p>
            <p>
              <label for="air_code"><%= t "Company code (2 letters)"%></label>
              <%= text_field :person, :air_company, :value => @restored_person[:air_company], :size => 3 %>
              <label for="flight_number"><%= t "Flight number"%></label>
              <%= text_field :person, :flight_number, :value => @restored_person[:flight_number], :size => 5 %><br/>
            </p>
          </fieldset>
        <% end %>


  	<fieldset>
  	 <legend><%= t "Telephone"%></legend>
  	 <p>
   	<label for="person_phone_area_code"><%= t "Area Code"%></label>
   	<%= text_field :person, :phone_area_code, :value => @restored_person[:phone_area_code], :size => 3    %>
   	<label for="person_phone_number"><%= t "Phone Number"%></label>
   	<%= text_field :person, :phone_number, :value => @restored_person[:phone_number]    %><br/>
   	</p>
  	</fieldset>


  	<fieldset>
  	 <legend><%= t "Billing Address"%></legend>
  	 <p>
   	<label for="address_street"><%= t "Street"%></label>
   	</p>
   	<p>
   	<%= text_field :address, :street, :value => @restored_address[:street]  %></p><p>
   	</p>

   	<p>
   	<label for="address_city"><%= t "City"%></label></p><p>
   	<%= text_field :address, :city, :value => @restored_address[:city]  %>
   	</p>

   	<p>
   	<label for="address_postcode"><%= t "Postcode"%></label></p><p>
   	<%= text_field :address, :postcode, :value => @restored_address[:postcode]  %>
   	</p>
   	<p>
   	<label for="address_state"><%= t "State"%></label></p><p>
   	<%= text_field :address, :state, :value => @restored_address[:state]  %>
   	</p>

   	<p>
   	<label for="country"><%= t "Country"%></label></p><p>
   	<%= select :address, :country_code, @countries.map {|c| [c.country, c.iso]}, :selected => @restored_address[:country_code]  %>
   	</p>
  	</fieldset>

      <% if !@hide_payment_fields %>
        <fieldset>
  	 <legend><%= t "Payment Details"%></legend>
  	 <p>
   	<label for="payment_cc_no"><%= t "Credit Card number"%></label></p><p>
   	<%= text_field :payment, :card_no, :value => @restored_payment[:card_no]  %>
   	</p>
   	
   	<p>
   	<label for="payment_card_type"><%= t "Card type"%></label>
   	</p>
   	<p>
       <%= select :payment, :card_type, [["Visa", "VI"], ["Mastercard", "MC"]], :selected => @restored_payment[:card_type]  %>
   	</p>

   	<p>
   	  <label for="payment_series_code"><%= t "Series Code (3-digit code on back of card)"%></label>
   	</p>
   	<p>
   	  <%= text_field :payment, :series_code, :value => @restored_payment[:series_code] %><br/>
   	</p>

   	<p>
   	  <label for="payment_name"><%= t "Card Holder Name"%></label>
   	</p>
   	<p>
   	  <%= text_field :payment, :name, :value => @restored_payment[:name]  %><br/>
   	</p>
   	<p><%= t "Expiry date"%>: 
   		<label for="payment_expiry_month"><%= t "month"%></label>
       <%= select :payment, :expiry_month, (1..12).map{ |a| [a.to_s.rjust(2, '0'), a.to_s.rjust(2, '0')]}, :selected => @restored_payment[:expiry_month] %>
   		<label for="payment_expiry_year"><%= t "year"%></label>
       <%= select :payment, :expiry_year, (9..15).map{ |a| [a.to_s.rjust(2, '0'), a.to_s.rjust(2, '0')]}, :selected => @restored_payment[:expiry_year] %>
   	</p>
  	</fieldset>
      <%else%>
        <strong><%= t "The full amount must be paid when picking up the vehicule"%>.</strong>
      <% end %>

  	


  	<p><%= submit_tag t 'Submit' %></p>
  <%- end %>
</div>