
%h2
  = t("Invite someone to join your trip")
%div
  = t("trip_invite_message")
  
%div
  - less_remote_form_for Person.new, :url=>people_path do |form|
    = form.text_field :first_name
    = form.text_field :last_name
    = form.text_field :email
    = form.wrap( :label=>"Message") {'<textarea name="message" cols="35" rows="5"></textarea>'}
    = submit_tag t("Save")
