%ul#destinationNavigation
  %li#destinationSwitcher
    %h2
      = link_to t("San Francisco"), "#"
  %li#overview
    = link_to "Overview", "#"
  %li#flights
    = link_to "Flights", "#"
  %li#hotels
    = link_to "Hotels", "#"
  %li#attractions
    = link_to "Attractions", "#"
  %li#activities
    = link_to "Activities", "#"
  %li#carRentals
    = link_to "Car Rentals", "#"
    