%ul#destinationNavigation

  // add a class current to the below menus to select current
  %li#overview
    = link_to t("Overview"), destination_path(@destination) unless @destination.nil?
  %li#flights
    = link_to t("Flights"), "#"
  %li#hotels
    = link_to t("Hotels"), destination_hotels_path(@destination) unless @destination.nil?
  %li#attractions
    = link_to t("Attractions"), destination_attractions_path(@destination) unless @destination.nil?
  %li#activities
    = link_to t("Activities"), "#"
  %li#carRentals
    = link_to t("Car Rentals"), search_destination_car_rental_path(@destination) unless @destination.nil?
