%ul#destinationNavigation
  %li#destinationSwitcher
    %h2
      San Francisco
  // add a class current to the below menus to select current
  %li#overview
    = link_to t("Overview"), "#"
  %li#flights
    = link_to t("Flights"), "#"
  %li#hotels
    = link_to t("Hotels"), hotels_path
  %li#attractions
    = link_to t("Attractions"), "#"
  %li#activities
    = link_to t("Activities"), "#"
  %li#carRentals
    = link_to t("Car Rentals"), "#"
    