%ul
  %li#destinationSwitcher
    = link_to "San Francisco", "#"
  %li
    = link_to "Overview", "#"
  %li
    = link_to "Flights", "#"
  %li
    = link_to "Hotels", "#"
  %li
    = link_to "Attractions", "#"
  %li
    = link_to "Activities", "#"
  %li
    = link_to "Car Rental", "#"
    