%ul#destinationNavigation
  %li#destinationSwitcher
    = link_to "San Francisco", "#"
  %li#overview
    = link_to "Overview", "#"
  %li#flights
    = link_to "Flights", "#"
  %li#hotels
    = link_to t("Hotels"), hotels_path
  %li#attractions
    = link_to "Attractions", "#"
  %li#activities
    = link_to "Activities", "#"
  %li#carRentals
    = link_to "Car Rentals", "#"
    