#logo
  %h1
    = link_to "Touristr", "/"
  %p#tagline
    making travel easier

%ul#userControls
  - if @u && !@u.new_record?
    %li
      = link_to t("Profile"), person_path(@p)
    %li
      = link_to t("Logout"), logout_path
  - else
    %li
      = link_to t("Login"), login_path
    %li
      = link_to t("Sign Up"), signup_path
      
= render :partial => 'shared/search'

.clearBoth