
- return '' unless @t

%ul#tripControl
  %li#tripName
    = link_to h(@t.name), trip_path(@t)
  %li#tripPeople
    = link_to "#{t(:adult, :count=>@t.number_of_adults)} #{t(:children, :count=>@t.number_of_children)}", edit_trip_path(@t).add_params(:height=>500, :width=>500), :class=>'thickbox'
  %li#tripItinerary
    = link_to t("Itinerary"), "#"
  %li#tripComments
    = link_to t("Comments"), "#"
  %li#tripBudget
    = link_to t("Budget"), "#"
  %li#tripTodos
    = link_to t("To-Dos"), "#"