

- return '' unless @t

 
 
#tripList
  %dl
    - @t.trip_items_normal_view.each do |location|
      %dt 
        - if location[:city_id].nil?
          = location[:city_name]
        - else
          = link_to location[:city_name], destination_path(location[:city_id])
      - location[:dates].each do |date|
        %dd.noDate
          %dl
            %dt
              - if date[:date]
                = date[:date].strftime('%d')
                %p 
                  = date[:date].strftime('%b')
              - else
                No Date assigned
                = link_to '(drag to assign)', "#"
            - date[:events].each do |event|
              %dd{:id=>event[:trip_item].dom_id('in_trip_bar'), :class=>'item'}
                %span.time 
                  - if event[:trip_item].starts_at
                    %span 
                      = event[:trip_item].starts_at.strftime('%I')
                    = event[:trip_item].starts_at.strftime('%p').downcase
                  - else
                    %span
                = render :partial=>"#{event[:trippy].class.class_name.underscore.pluralize}/list_item", :object=>event[:trippy], :locals=>{:dom_id=>event[:trip_item].dom_id('in_trip_bar'), :trip_item=>event[:trip_item]}
                %span.grabber m
                /= link_to event[:trippy].name, '#'
                    
                    

= content_for :javascript do 
  = sortable_element( 'tripList', :url=>sort_trip_path(@t), :handle=>'grabber', :scroll=>true, :items=>' dd.item')
                    
/                  
/        %dd.date
/          %dl
/            %dt
/              05
/              %p Dec
/            %dd.item
/              %span.time 
/                %span 10
/                am
/              = link_to 'Dinner at Dosa', '#'
/            %dd.item
/              %span.time 
/                %span 10
/                am
/              = link_to 'Dinner at Dosa', '#'
/            %dd.item
/              %span.time 
/                %span 10
/                am
/              = link_to 'Dinner at Dosa', '#'
/        %dd.noDate
/          %dl
/            %dt
/              No Date assigned
/              = link_to '(drag to assign)', "#"
/            %dd.item
/              = link_to 'This is an Event without a name', '#'
/    %dt San Francisco
/    %dd.date
/      %dl
/        %dt
/          05
/          %p Dec
/        %dd.item
/          %span.time 
/            %span 10
/            am
/          = link_to 'Dinner at Dosa', '#'
/        %dd.item
/          %span.time 
/            %span 10
/            am
/          = link_to 'Dinner at Dosa', '#'
/        %dd.item
/          %span.time 
/            %span 10
/            am
/          = link_to 'Dinner at Dosa', '#'
/    %dd.date
/      %dl
/        %dt
/          05
/          %p Dec
/        %dd.item
/          %span.time 
/            %span 10
/            am
/          = link_to 'Dinner at Dosa', '#'
/        %dd.item
/          %span.time 
/            %span 10
/            am
/          = link_to 'Dinner at Dosa', '#'
/        %dd.item
/          %span.time 
/            %span 10
/            am
/          = link_to 'Dinner at Dosa', '#'
/    %dd.noDate
/      %dl
/        %dt
/          No Date assigned
/          = link_to '(drag to assign)', "#"
/        %dd.item
/          = link_to 'This is an Event without a name', '#' 