%ul#tripControl
  %li#tripName
    = link_to "Trip Name", "#"
  %li#tripPeople
    = link_to "2 Adults 3 Children", "#"
  %li#tripItinerary
    = link_to "Itinerary", "#"
  %li#tripComments
    = link_to "Comments", "#"
  %li#tripBudget
    = link_to "Budget", "#"
  %li#tripTodos
    = link_to "To-Dos", "#"