

- return '' unless @t

 
%ul#trip_bar
  - @t.trip_items.all(:include=>[:trippy]).each do |ti|
    = render :partial=>"#{ti.trippy.class.class_name.underscore.pluralize}/list_item", :object=>ti.trippy, :locals=>{:dom_id=>ti.dom_id('in_trip_bar'), :trip_item=>ti}
    = ti.trippy.class.class_name
   
= content_for :javascript do 
  = sortable_element( 'trip_bar', :url=>sort_trip_path(@t))
 
#tripList
  %dl
    - @t.trip_items_normal_view.each do |location|
      %dt 
        = location[:city_name]
        - location[:dates].each do |date|
          %dd.date
            %dl
              %dt
                - if date[:date]
                  = date[:date].strftime('%d')
                  %p 
                    = date[:date].strftime('%b')
                - else
                  %p 
                - date[:events].each do |event|
                  %dd.item
                    %span.time 
                      - if event[:trip_item].starts_at
                        %span 
                          = event[:trip_item].starts_at.strftime('%I')
                        = event[:trip_item].starts_at.strftime('%p').downcase
                      - else
                        %span
                    = render :partial=>"#{event[:trippy].class.class_name.underscore.pluralize}/list_item", :object=>event[:trippy], :locals=>{:dom_id=>event[:trip_item].dom_id('in_trip_bar'), :trip_item=>event[:trip_item]}
                    /= link_to event[:trippy].name, '#'
                    
                    
                    
                    
/                  
/        %dd.date
/          %dl
/            %dt
/              05
/              %p Dec
/            %dd.item
/              %span.time 
/                %span 10
/                am
/              = link_to 'Dinner at Dosa', '#'
/            %dd.item
/              %span.time 
/                %span 10
/                am
/              = link_to 'Dinner at Dosa', '#'
/            %dd.item
/              %span.time 
/                %span 10
/                am
/              = link_to 'Dinner at Dosa', '#'
/        %dd.noDate
/          %dl
/            %dt
/              No Date assigned
/              = link_to '(drag to assign)', "#"
/            %dd.item
/              = link_to 'This is an Event without a name', '#'
/    %dt San Francisco
/    %dd.date
/      %dl
/        %dt
/          05
/          %p Dec
/        %dd.item
/          %span.time 
/            %span 10
/            am
/          = link_to 'Dinner at Dosa', '#'
/        %dd.item
/          %span.time 
/            %span 10
/            am
/          = link_to 'Dinner at Dosa', '#'
/        %dd.item
/          %span.time 
/            %span 10
/            am
/          = link_to 'Dinner at Dosa', '#'
/    %dd.date
/      %dl
/        %dt
/          05
/          %p Dec
/        %dd.item
/          %span.time 
/            %span 10
/            am
/          = link_to 'Dinner at Dosa', '#'
/        %dd.item
/          %span.time 
/            %span 10
/            am
/          = link_to 'Dinner at Dosa', '#'
/        %dd.item
/          %span.time 
/            %span 10
/            am
/          = link_to 'Dinner at Dosa', '#'
/    %dd.noDate
/      %dl
/        %dt
/          No Date assigned
/          = link_to '(drag to assign)', "#"
/        %dd.item
/          = link_to 'This is an Event without a name', '#' 