- @this_is_the_overview = true
.content
  %h2#destinationName= @destination.name
  = link_to t("edit"), edit_destination_path(@destination) if @u
  = link_to t("translate"), translate_destination_path(@destination)
  %p#destinationIntroduction.translatable
    = h(@destination.destination_content.introduction) unless @destination.destination_content.nil?
  %h3= t "Map"
  #map.destination
  - if @destination.destination_content.nil?
    .onlyPhotos
      %h3= t("Photo Gallery")
      %ul.destinationPhotoGallery
        = render :partial => "panoramio_pic", :collection => @dest_pics
  %h3
    = t("Description")
  .translatable
    = @destination.destination_content.overview unless @destination.destination_content.nil?
  
  %h3
    = t("Things to do")
  .translatable
    = @destination.destination_content.attractions unless @destination.destination_content.nil?
  
  %ul.destinationAttraction
    = render :partial=>'destinations/attraction_list_item', :collection=>@destinations, :locals => {:parent_destination => @destination}
    
  .media
    - unless @destination.destination_content.nil?
      .videos
        %h3
          = t("Video Content")
        .video
          = @destination.destination_content.video_embed_code

      .photos
        %h3= t("Photo Gallery")
        %ul.destinationPhotoGallery
          = render :partial => "panoramio_pic", :collection => @dest_pics
        .addPictureForm
          - form_tag(add_photo_destination_path(@destination), :multipart => true) do
            %p
              %label 
                =t('Add an other picture')
              = file_field_tag "destination_pictures[picture]"
            %p
              %label
                =t('Caption')
              = text_field_tag "destination_pictures[picture_caption]"
            %p
              %label
                =t('Author')
              = text_field_tag "destination_pictures[picture_author]"
            %p
              %label
                =t('Link to original picture')
              = text_field_tag "destination_pictures[picture_url]"
            %p
              = submit_tag 'add photo'
      .comments
        = render :partial => "user_comment", :collection => @comments        
        .addComment
          = t("Add a comment")
          - form_tag comment_destination_path(@destination) do
            %label 
              =t('Title')
            = text_field_tag "title"
            %lable
              =t('Comment')
            = text_field_tag "comment"
            = submit_tag t("Post")

.mapInformation
  %dl#destinations
    %dt.name= @destination.name
    %dd.lat= @destination.lat
    %dd.lng= @destination.lng

- content_for :javascripts do
  
  :javascript
    $(document).ready(function(){
    //Draw Map
    initializeMap();
    
    showDestination();
    });
    
  