.content
  %h2#destinationName= @destination.name
  = link_to t("edit"), edit_destination_path(@destination) if @u
  = link_to t("translate"), translate_destination_path(@destination)
  %p#destinationIntroduction.translatable
    = @destination.destination_content.introduction unless @destination.destination_content.nil?
  %h3 Map
  #map.destination
  - if @destination.destination_content.nil?
    .onlyPhotos
      %h3= t("Photo Gallery")
      %ul.destinationPhotoGallery
        = render :partial => "panoramio_pic", :collection => @dest_pics
  %h3
    = t("Description")
  .translatable
    = @destination.destination_content.overview unless @destination.destination_content.nil?
  
  %h3
    = t("Things to do")
  .translatable
    = @destination.destination_content.attractions unless @destination.destination_content.nil?
  
  %ul
    = render :partial=>'destinations/attraction_list_item', :collection=>@destinations, :locals => {:parent_destination => @destination}
    
  .media
    - unless @destination.destination_content.nil?
      .videos
        %h3
          = t("Video Content")
        .video
          <object width="468" height="264"><param name="allowfullscreen" value="true" /><param name="allowscriptaccess" value="always" /><param name="movie" value="http://vimeo.com/moogaloop.swf?clip_id=2558470&amp;server=vimeo.com&amp;show_title=1&amp;show_byline=1&amp;show_portrait=0&amp;color=1f76bd&amp;fullscreen=1" /><embed src="http://vimeo.com/moogaloop.swf?clip_id=2558470&amp;server=vimeo.com&amp;show_title=1&amp;show_byline=1&amp;show_portrait=0&amp;color=1f76bd&amp;fullscreen=1" type="application/x-shockwave-flash" allowfullscreen="true" allowscriptaccess="always" width="468" height="264"></embed></object><br /><a href="http://vimeo.com/2558470">Job Interview</a> from <a href="http://vimeo.com/benschwartz">Ben Schwartz</a> on <a href="http://vimeo.com">Vimeo</a>.

      .photos
        %h3= t("Photo Gallery")
        %ul.destinationPhotoGallery
          = render :partial => "panoramio_pic", :collection => @dest_pics
        .addPictureForm
          - form_tag(add_photo_destination_path(@destination), :multipart => true) do
            %p
              %label 
                =t('Add an other picture')
              = file_field_tag "destination_pictures[picture]"
            %p
              %label
                =t('Caption')
              = text_field_tag "destination_pictures[picture_caption]"
            %p
              %label
                =t('Author')
              = text_field_tag "destination_pictures[picture_author]"
            %p
              %label
                =t('Link to original picture')
              = text_field_tag "destination_pictures[picture_url]"
            %p
              = submit_tag 'add photo'

.mapInformation
  %dl#destinations
    %dt.name= @destination.name
    %dd.lat= @destination.lat
    %dd.lng= @destination.lng
        
- content_for :javascripts do
  
  :javascript
    $(document).ready(function(){
    //Draw Map
    initializeMap();
    
    showDestination();
    });
    
  