<% form_for :destination_content, :url => translate_destination_path(@destination), :method => "post" do |form| %>
  <p>
    <%=t("Please select the language you will translate to")%> <br />
    <%= select_tag :translation_language, options_for_select(@possible_translations) %>
  </p>
  <p class="destinationIntroduction">
    <%=h(@introduction) unless @introduction.nil?%>
    <%=form.text_area :introduction, :value => @destination.destination_content.introduction, :size => "75x6" %>
  </p>

  <div id="mainContent">
    <h3>
      <%=t("Description")%>
    </h3>
    <%=h(@overview) unless @overview.nil?%>
    <%=form.text_area :overview, :value => @destination.destination_content.overview, :size => "75x6" %>
    
    <h3>
      <%=t("Things to do")%>
    </h3>
    
    <%=h(@attractions) unless @attractions.nil?%>
    <%=form.text_area :attractions, :value => @destination.destination_content.attractions, :size => "75x6" %>
  </div>
  <%=submit_tag t("Save translation")%>

<% end %>