!!!
%html{"xmlns"=>"http://www.w3.org/1999/xhtml", "xml:lang"=>"en"}
  %head
    %title= title ||= "Touristr"
    = stylesheet_link_tag 'application', 'thickbox', 'datePicker', :cache => true
  %body
    #wrapper
      = render :partial => "shared/header"
      
      = render :partial => "shared/trip_control"
      
      = render :partial => "shared/destination_nav" if  @controller.controller_name == 'destinations' || @controller.controller_name == 'attractions'
      
      = render :partial => "shared/trip"
      
      = yield :top

      / <script type="text/javascript" src="http://cdn.socialtwist.com/2009030812003/script.js"></script><a class="st-taf" href="http://tellafriend.socialtwist.com:80" onclick="return false;" style="border:0;padding:0;margin:0;"><img alt="SocialTwist Tell-a-Friend" style="border:0;padding:0;margin:0;" src="http://images.socialtwist.com/2009030812003/button.png"onmouseout="hideHoverMap(this)" onmouseover="showHoverMap(this, '2009030812003', window.location, document.title)" onclick="cw(this, {id:'2009030812003', link: window.location, title: document.title });"/></a>
      
      = display_standard_flashes

      = yield
      = render :partial => "shared/footer"
    
    = javascript_include_tag "http://maps.google.com/maps?file=api&v=2&key=#{GOOGLE_MAPS_KEY}&sensor=false"
    = javascript_include_tag :defaults, 'jquery.sundaymorning', 'maps' , :cache => true
    = yield :javascripts
    = yield :javascript
