.content
  %h2
    = @attraction.name
  =t("Viewed")
  =@attraction.click_counter
  =t("times")
  = link_to t("edit"), edit_destination_attraction_path(@destination, @attraction) if @u
  = link_to t("translate"), translate_destination_attraction_path(@destination, @attraction) if @u
  %p#destinationIntroduction
    - if !@attraction.destination_content.nil? && !@attraction.destination_content.picture.nil?
      %img{:src => @attraction.destination_content.picture, :alt => @attraction.destination_content.picture_caption, :title =>  @attraction.destination_content.picture_caption}
      %p
        = "#{h(@attraction.destination_content.picture_caption)} #{t("by") unless @attraction.destination_content.picture_author.blank?}" 
        %a{:href => @attraction.destination_content.picture_url, :target => "_blank"}
          =h(@attraction.destination_content.picture_author)
  %h3
    = t("Description")
  %p  
    - if @attraction.destination_content.nil? || @attraction.destination_content.introduction.nil?
      = t("We don't have any content yet for") 
      = @attraction.name
    - else
      = h(@attraction.destination_content.introduction)
  .media
    - unless @attraction.destination_content.nil?
      .mapAttraction
        %h3
          = t("Map")
        #map.attractionPage
  
      .photos
        %h3= t("Photo Gallery")
        %ul.destinationPhotoGallery
          = render :partial => "/destinations/panoramio_pic", :collection => @attract_pics
        .addPictureForm
          - form_tag(add_photo_destination_attraction_path(@destination, @attraction), :multipart => true) do
            %p
              %label 
                =t('Add an other picture')
              = file_field_tag "destination_pictures[picture]"
            %p
              %label
                =t('Caption')
              = text_field_tag "destination_pictures[picture_caption]"
            %p
              %label
                =t('Author')
              = text_field_tag "destination_pictures[picture_author]"
            %p
              %label
                =t('Link to original picture')
              = text_field_tag "destination_pictures[picture_url]"
            %p
              = submit_tag 'add photo'
  .comments
    = render :partial => "destinations/user_comment", :collection => @comments        
    .addComment
      = t("Add a comment")
      - form_tag comment_destination_attraction_path(@destination, @attraction) do
        %label 
          =t('CommentTitle')
        = text_field_tag "title"
        %lable
          =t('Comment')
        = text_field_tag "comment"
        = submit_tag t("Post")

  .mapInformation
    %span.lat= @attraction.lat
    %span.lng= @attraction.lng

- content_for :javascripts do
  :javascript
    $(document).ready(function(){
    //Draw Map
    initializeMap();
    showAttraction();
    });