<div class="content">
  <% form_for :attraction_content, :url => translate_destination_attraction_path(@destination, @attraction), :method => "post" do |form| %>
    <p>
      <%=t("Please select the language you will translate to")%> <br />
      <%= select_tag :translation_language, options_for_select(@possible_translations) %>
    </p>
    <p class="destinationIntroduction">
      <%=h(@introduction) unless @introduction.nil?%>
      <%=form.text_area :introduction, :value => @attraction.destination_content.introduction, :size => "75x6" %>
    </p>

    <%=submit_tag t("Save translation")%>

  <% end %>
</div>